.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  grid-gap: 3px;
}

button {
  height: 2em;
  width: 2em;
  border-radius: 4px;
}

.unknown {
  background-color: blue;
  color: white;
}
.miss {
  background-color: white;
  color: black;
}
.hit {
  background-color: red;
  color: white;
}
